# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
discard.html
GProjects/Assets/app box.jpg
GProjects/Assets/thank-you-packaging-shipping-and-delivery-workers-6753651837108760.3-law.gif
GProjects/index.html
GProjects/Styles/styles.css
Product_Landing_Page/assets/plumbus-icon.png
Product_Landing_Page/assets/Plumbus1-bell.jpg
Product_Landing_Page/assets/Plumbus1.jpeg
Product_Landing_Page/assets/Plumbus2.jpeg
Product_Landing_Page/assets/Plumbus3.jpg
Product_Landing_Page/assets/Plumbus4.jpg
Product_Landing_Page/assets/Plumbus5.jpeg
Product_Landing_Page/assets/PlumbusEnd.jpg
screenshots/quick-edit.png
Survey_Form/Images/test.png
Survey_Form/Images/test1.jpg
Survey_Form/Images/test2.png
Survey_Form/Images/test3.jpg
Survey_Form/Images/test4.jpg
Survey_Form/Images/test5.jpg
Survey_Form/Images/test6.png
Survey_Form/Images/test62.jpg
Survey_Form/Images/test6_edited.jpg
Survey_Form/Images/three-friends-candid-laughing.jpg
Survey_Form/Images/three-laughing-women.jpg
Survey_Form/Images/three-laughing-women_faded.jpg
Survey_Form/Images/txtbackground.jpg
Survey_Form/index.html
Survey_Form/styles/main.css
Test/Another GRID experiment/Discard/index.html
Test/Another GRID experiment/index.html
Test/Another Mickie/index.html
Test/Discard.html
Test/Dominican Flag/index.html
Test/fixed-backgrounds-master/assets/css/style.css
Test/fixed-backgrounds-master/assets/css/style.scss
Test/fixed-backgrounds-master/assets/img/cd-background-1.jpg
Test/fixed-backgrounds-master/assets/img/cd-background-2.jpg
Test/fixed-backgrounds-master/assets/img/cd-background-3.jpg
Test/fixed-backgrounds-master/assets/img/cd-background-4.jpg
Test/fixed-backgrounds-master/index.html
Test/fixed-backgrounds-master/README.md
Test/GRID experiment/index.html
Test/Heart/index.html
Test/Micky/index.html
Test/Scroll/index.html
Test/Untitled-8
Tribute_Page/Assets/alan_parado.png
Tribute_Page/Assets/alan_standing-ddddd.jpg
Tribute_Page/Assets/alan_standing-removebg.png
Tribute_Page/Assets/alan_standing.jpg
Tribute_Page/Assets/alan_wilson3.jpg
Tribute_Page/Assets/alan_wilsonbg.jpg
Tribute_Page/Assets/alan_wilsonbg.jpg.png
Tribute_Page/index.html
Tribute_Page/main.css
Tribute_Page_Responsive/index.html
Tribute_Page_Responsive/main.css
